@use "../mixins";
@use "../variables" as v;

.card {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    background-color: #000; // Rectangle noir sobre
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
    border: none;

    @include mixins.media-max("phone-down") {
        grid-template-rows: auto auto 1fr;
    }

    img {
        width: 100%;
        height: 12rem;
        object-fit: cover;
        border-bottom: 0.1rem solid v.$secondary-color;

        @include mixins.media-max("phone-down") {
            height: 8rem;
        }
    }

    header {
        padding: 0.75rem;
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        color: v.$secondary-color;
        background-color: transparent;
        font-family: "Paris2024", sans-serif;
    }

    .content {
        padding: 1rem;
        text-align: center;
        color: v.$secondary-color;
        font-size: 1rem;
        background-color: transparent;

        @include mixins.media-max("phone-down") {
            padding: 0.5rem;
        }
    }

    footer {
        padding: 1rem 0.5rem;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;

        button.btn-choice {
            width: 8rem;
            padding: 0.5rem 1rem;
            font-size: 1.1rem;
            font-family: "Paris2024", sans-serif;
            font-weight: bold;
            background-color: v.$primary-color;
            color: v.$secondary-color;
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background-color: v.$secondary-color;
                color: v.$primary-color;
            }

            @include mixins.media-max("phone-down") {
                width: 100%;
                font-size: 1rem;
            }
        }
    }
}