.sport-card-img {
  width: 100%; /* L'image prend toute la largeur du conteneur */
  height: auto; /* Maintient les proportions */
  object-fit: contain; /* Garde les proportions sans déformation */
  max-height: 200px; /* Limite la hauteur pour éviter les images trop grandes */
  border-radius: 8px; /* Ajoute un arrondi à l'image */
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}