@use '../global.scss';
@use '../mixins.scss';
@use '../variables.scss' as v;

:host {
    display: block;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

.sport-card {
    display: flex;
    justify-content: center;  /* Centrer l'image horizontalement */
    align-items: center;      /* Centrer l'image verticalement */
    max-width: 100%;          /* Empêche l'image de dépasser son conteneur */
    width: 100%;              /* Prendre toute la largeur disponible */
    height: auto;             /* Maintenir les proportions */
    overflow: hidden;         /* Empêcher le débordement de l'image */
    position: relative;       /* Positionnement relatif pour l'image */
}

.sport-card img {
    max-width: 100%;  /* Limiter l'image à la largeur du conteneur */
    width: 100%;      /* L'image prend 100% de la largeur du conteneur */
    height: auto;     /* Garder les proportions */
    object-fit: contain;  /* Ne pas déformer l'image */
    display: block;   /* Assurer que l'image est un bloc */
}

.event {
    display: flex;
    flex-direction: column;
    border: 0.2rem solid v.$primary-color;
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    background-color: v.$background-color;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5rem;

    h4 {
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }

    .event-content {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;

        @include mixins.media-max("tablet-up") {
            flex-wrap: wrap;
            gap: 0.5rem 1rem;
        }
    }
}
