.container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;

    img {
    object-fit: cover;
    max-width: 600px;
    width: auto !important;
    height: auto !important;
    margin: auto
    }
}
