p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-info-socials img {
    width: 30px !important;
    height: auto !important;
    display: block;
}


.content-info-socials-item {
    margin-bottom: 10px; /* Espacement horizontal entre les icônes */
}