p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-info-socials img {
    width: 30px !important;
    height: auto !important;
    display: block;
}


.content-info-socials-item {
    margin-bottom: 10px; /* Espacement horizontal entre les icônes */
}

.sport-card {
    width: 100%;             
    height: auto;           
    overflow: hidden;      
}

.sport-card img {
    width: 100% !important;  
    height: auto !important; 
    object-fit: contain !important; 
}

.offers-images {
    display: flex;
    justify-content: space-around;
    margin: 1.5rem 0;
  
    .offer-img {
      width: 30%;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.2);
      transition: transform 0.3s ease;
  
      &:hover {
        transform: scale(1.05);
      }
    }
  }